.description ul {
    list-style-type: disc;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #AADBEC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}

.description li {
    margin-bottom: 5px;
}

.description h1 {
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
}

.features {
    background-color: #AADBEC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
